bin
ccc.sh
compile_commands.json
.vscode
imgui.ini
temp.bcd
test*
tilesheetFiles.txt
third_party
node_modules
package*.json
img/12621
img/13133
img/21847
img/22323
img/22349
img/cmn
img/cmr
img/cid
*.js
/*.png
/*.txt
/*.bcd
/*.zip
*.deb